// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.style-div {
    background: red;
    margin-bottom: 25px;
    height: 300px;
    width: 300px;
}

.style-on-load {
    background: blue;
    margin-bottom: 25px;
    height: 300px;
    width: 300px;
}

